<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Automart Project</title>
</head>
<body>
    <h1>Bienvenido a AutoMart</h1>

    {% for auto in autos %}
        <p>{{ auto.nombre }}</p>
        <p>{{ auto.modelo }}</p>
        {% if auto.precio > 0 %}
            <p>$ {{ auto.precio }}</p>
        {% else %}
            <p>Auto de Colección</p>
        {% endif %}
        <p>{{ auto.color }}</p>
        <hr />
    {% endfor %}
</body>
</html>