{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
    <div class="album py-5 bg-light descripcion" >
        <h1>{{ auto.nombre }}</h1>
        <img src="{{ auto.img_url }}" alt="{{ auto.nombre }}" class="rounded mx-auto d-block">
        <p>Modelo: <strong>{{ auto.modelo }}</strong></p>
        {% if auto.precio > 0 %}
            <p>Precio: <strong>${{ auto.precio }}</strong></p>
        {% else %}
            <p>Auto de Colección</p>
        {% endif %}
        <p>Color: <strong>{{ auto.color }}</strong></p>
    </div>
{% endblock %}